$bodyBg: #f5f5f5;
$mainBg: #fff;
$secondBg: #fafafb;
$mainColor: #F93822FF;
$txtColor: #333333;
$purple: #850dee;
$orange: #f57647;
$blue: #0205bd;
$cyan: #00dbdb;
$white: #fff;
$dark:#2c2c2c;
$black: #000;
$green: #3eca43;
$red: #fc2313;

$mainBg-light: #ffffff;
$txtColor-light: #d1d1d1;

$mainBg-dark: #2d2d2d;
$txtColor-dark: #3a3a3a;

$mainColor-purple: #8800ff;
$mainColor-red: #fb0b12;
$mainColor-cyan: #10d4d2;
$mainColor-green: #019707;
$mainColor-orange: #d68102;

$fontFamily: 'Roboto', sans-serif;

$fontSizeMedium: 1rem;
$fontSizeLarge: 1.50rem;

$sideBarWidth: 250px;
$sideBarLogoHeight: 100px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1200px;